modules = ["bash", "web", "gcloud", "java-graalvm22.3", "nodejs-18"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 9005
externalPort = 80

[[ports]]
localPort = 36705
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 37897
externalPort = 3002
exposeLocalhost = true
